@import url('../../App.css');

.img1{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),url('./slideshow1_tee.jpg');
        background-size:cover;
        background-repeat: no-repeat;
            background-position:bottom;
}
.img2{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),url('./slideshow2_tee.jpg');
        background-size:cover;
      
            background-position:bottom;
}

.img3{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),url('./slideshow3_tee.jpg');
        background-size:cover;
            background-position:bottom;
}

.header-display {
    font-family:var(--mainfont);
  }
  .carousel-box h1{
    font-size: 100px;
    text-transform: uppercase;
  }
  .carousel-box p{
    font-size: 70px;
    
  }
  .link{
    text-transform: uppercase;
    
  }
  .ground{
    background-image: 
        url('./headerback.png');
            height: 300px;
    font-family:var(--mainfont);

}
@media (max-width:600px) {
  .carousel-box h1{
    font-size: 70px;
    text-transform: uppercase;
  }
}
@media (max-width:400px) {
  .carousel-box h1, .carousel-box p{
    font-size: 40px;
    text-transform: uppercase;
  }
}

@media (max-width:500px) {
 .carousel-control-prev,.carousel-control-next{
display: none;
  }
}