@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
:root{
    --mainfont:"Caprasimo", serif;
}
a{
    text-decoration: none;
}
.nothing-here{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  height: 100vh;
  }